[Unit]
Description=Linux control panel

[Service]
ExecStart=/var/www/lcp/server/build/server/server.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/lcp/server

[Install]
WantedBy=multi-user.target